# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/local.properties
android/.gradle/
android/app/build/
android/build/
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/

# Misc
*.log
.DS_Store
.claude